.icon_alarm_clock_1 {
   background-image: url(../../../images/generic/16x16/alarm_clock_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_attachment_clip_1 {
   background-image: url(../../../images/generic/16x16/attachment_clip_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_attachment_clip_2 {
   background-image: url(../../../images/generic/16x16/attachment_clip_2.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_attachment_clip_3 {
   background-image: url(../../../images/generic/16x16/attachment_clip_3.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_attachment_clip_4 {
   background-image: url(../../../images/generic/16x16/attachment_clip_4.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_back_arrow_1 {
   background-image: url(../../../images/generic/16x16/back_arrow_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_caution_alert_1 {
   background-image: url(../../../images/generic/16x16/caution_alert_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_collection_folder_1 {
   background-image: url(../../../images/generic/16x16/collection_folder_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_document_csv_1 {
   background-image: url(../../../images/generic/16x16/document_csv_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_document_download_1 {
   background-image: url(../../../images/generic/16x16/document_download_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_document_excel_1 {
   background-image: url(../../../images/generic/16x16/document_excel_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_document_html_1 {
   background-image: url(../../../images/generic/16x16/document_html_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_document_new_1 {
   background-image: url(../../../images/generic/16x16/document_new_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_document_pdf_1 {
   background-image: url(../../../images/generic/16x16/document_pdf_1.png);
   background-repeat: no-repeat;
   background-position: center center;
} 

.icon_edit_pencil_1 {
   background-image: url(../../../images/generic/16x16/edit_pencil_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_exit_door_1 {
   background-image: url(../../../images/generic/16x16/exit_door_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_security_lock_1 {
   background-image: url(../../../images/generic/16x16/security_lock_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_security_lock_separator_1 {
   background-image: url(../../../images/generic/28x16/security_lock_separator_1.png);
   background-repeat: no-repeat;
   background-position: center center;
} 

.icon_print_printer_1 {
   background-image: url(../../../images/generic/16x16/print_printer_1.png);
   background-repeat: no-repeat;
   background-position: center center;
} 

.icon_refresh_arrow_1 {
   background-image: url(../../../images/generic/16x16/refresh_arrow_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_save_diskette_1 {
   background-image: url(../../../images/generic/16x16/save_diskette_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_search_magnifying_glass_1 {
   background-image: url(../../../images/generic/16x16/search_magnifying_glass_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_send_mail_1 {
   background-image: url(../../../images/generic/16x16/send_mail_1.png);
   background-repeat: no-repeat;
   background-position: center center;
} 

.icon_sign_no_ok_1 {
   background-image: url(../../../images/generic/16x16/sign_no_ok_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_sign_ok_1 {
   background-image: url(../../../images/generic/16x16/sign_ok_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_tool_gear_1 {
   background-image: url(../../../images/generic/16x16/tool_gear_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_tool_separator_1 {
   background-image: url(../../../images/generic/16x16/tool_separator_1.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.icon_label {
   padding-left: 32px;
} 

.icon_position_left {
   background-position: 5px center;   
}

